on boot
    chown shell shell /sys/devices/system/cpu/cpu3/online
    chmod 0660 /sys/devices/system/cpu/cpu3/online
    chown shell shell /sys/devices/system/cpu/cpu2/online
    chmod 0660 /sys/devices/system/cpu/cpu2/online
    chown shell shell /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
    chown shell shell /sys/devices/system/cpu/cpu7/online
    chmod 0660 /sys/devices/system/cpu/cpu7/online
    chown shell shell /sys/devices/system/cpu/cpu6/online
    chmod 0660 /sys/devices/system/cpu/cpu6/online
    chown shell shell /sys/devices/system/cpu/cpu5/online
    chmod 0660 /sys/devices/system/cpu/cpu5/online
    chown shell shell /sys/devices/system/cpu/cpu4/online
    chmod 0660 /sys/devices/system/cpu/cpu4/online

    chown system system /sys/class/thermal/thermal_zone0/trip_point_0_temp
    chmod 0666 /sys/class/thermal/thermal_zone0/trip_point_0_temp
    chown system system /sys/class/thermal/thermal_zone0/trip_point_1_temp
    chmod 0666 /sys/class/thermal/thermal_zone0/trip_point_1_temp
    chown system system /sys/class/thermal/thermal_zone0/sustainable_power
    chmod 0666 /sys/class/thermal/thermal_zone0/sustainable_power

    chown system system /sys/class/thermal/thermal_zone1/trip_point_0_temp
    chmod 0666 /sys/class/thermal/thermal_zone1/trip_point_0_temp
    chown system system /sys/class/thermal/thermal_zone1/trip_point_1_temp
    chmod 0666 /sys/class/thermal/thermal_zone1/trip_point_1_temp
    chown system system /sys/class/thermal/thermal_zone1/sustainable_power
    chmod 0666 /sys/class/thermal/thermal_zone1/sustainable_power

    chown shell shell /sys/class/dsufreq/dsu_cooling
    chmod 0666 /sys/class/dsufreq/dsu_cooling



    chown shell shell /sys/class/thermal/cooling_device0/max_state
    chmod 0666 /sys/class/thermal/cooling_device0/max_state
    chown shell shell /sys/class/thermal/cooling_device0/cur_state
    chmod 0666 /sys/class/thermal/cooling_device0/cur_state

    #thermal control
    chown shell shell /sys/class/thermal/thermal_zone0/cdev0/cur_state
    chmod 0666 /sys/class/thermal/thermal_zone0/cdev0/cur_state
    chown shell shell /sys/class/thermal/thermal_zone1/cdev0/cur_state
    chmod 0666 /sys/class/thermal/thermal_zone1/cdev0/cur_state

    write /proc/sys/kernel/sched_util_clamp_min 256
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 512

service aw_thermal /system/bin/aw_thermal
    class main
    user shell
    group shell
    seclabel u:r:shell:s0
