on property:persist.service.dragon.start=1
    start dragonservice

on property:persist.service.dragon.start=0
    stop dragonservice

service dragonservice /system/bin/dragonservice
    user root
    group root
    disabled
