on post-fs-data
    mkdir /data/system/video 0777 media root

on property:sys.boot_completed=1
    chmod 0666 /dev/sid_efuse

service fifo_server_system /system/bin/fifo_server
    class main
    disabled
    user media
    group root
