
on property:sys.monkey.start=1
    export CLASSPATH /system/framework/monkey.jar
    setprop sys.monkey.start 0
    setprop persist.debug.logcat.enable false
    setprop persist.debug.logcat.size 262144
    setprop persist.debug.logcat.limit 48
    setprop persist.debug.logcat.enable true
    setprop persist.debug.kernel_log.enable false
    setprop persist.debug.kernel_log.size 32768
    setprop persist.debug.kernel_log.limit 32
    setprop persist.debug.kernel_log.enable true
    setprop persist.debug.logpersistd true
    start monkey_service
    start monkey_monitor

on property:sys.monkey.stop=1
    setprop sys.monkey.stop 0
    stop monkey_service
    stop monkey_monitor

service monkey_service  /system/bin/app_process /system/bin com.android.commands.monkey.Monkey  --ignore-timeouts --ignore-security-exceptions --pkg-blacklist-file /system/etc/monkey_black_list --throttle 500 -v -v -v 125000
    disabled
    user root
    group root input system media_rw wakelock
    critical window=${zygote.critical_window.minute:-off} target=zygote-fatal


service monkey_monitor /system/bin/monkey_monitor
    disabled
    user root
    group root system readproc
    seclabel u:r:dumpstate:s0