on property:persist.debug.systemmonitor.enable=*
    setprop debug.systemmonitor.enable ${persist.debug.systemmonitor.enable}

on property:debug.systemmonitor.enable=true && property:sys.boot_completed=1 && property:persist.debug.logpersistd=true
    mkdir /data/vendor/awlog 0755 root media_rw
    start systemmonitor
    start systemmonitor2

on property:debug.systemmonitor.enable=false
    stop systemmonitor
    stop systemmonitor2

service systemmonitor /system/bin/sh /system/bin/systemmonitor -t 3000 -f /data/media/awlog/systemmonitor
    disabled
    class main
    user root
    group media_rw shell system root sdcard_rw
    seclabel u:r:shell:s0
    writepid /dev/cpuset/system-background/tasks

service systemmonitor2 /vendor/bin/cpu_monitor -o /data/vendor/awlog -f 1000
    disabled
    class main
    user root
    group media_rw shell system root sdcard_rw
    writepid /dev/cpuset/system-background/tasks

